html, body{/*height: 100%*/}
body {
	font-size: 12px;
	background-color: #fff;
}
a{
	color: #249cc8;
}
h1, h2{
	color: #249cc8;
	font-size: 18px;
	margin: 0 0 15px 0;
}
h1{margin-bottom: 0}
h1 span{
	display: block;
	font-size: 12px;
	color: #5a5959;
	font-weight: normal;
}
h2 a{text-decoration: none}
h3{
	color: #249cc8;
	font-size: 16px;
	margin: 0 0 26px 0;
}
h3 span{
	color: #5a5959;
	float: right;
	font-size: 12px;
}
.underdotted{
	text-decoration: none;
	border-bottom: 1px dotted #249cc8;
}
.col-n{
	background-color: #C8C8C8;
	border: 0 solid #C8C8C8;
	color: #C8C8C8;
}
.col-b {
	color: #f17d0b;
	background-color: #f17d0b;
	border: 0 solid #f17d0b;
}
.col-g {
	background-color: #98c51d;
	border: 0 solid #98c51d;
	color: #98c51d;
}
.r-mark {
	position: absolute;
	top:0;
	left: 0;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
.main-wrp {
	height: auto !important;
	min-height: 100%;
}
.onek-wrp {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.inline-block{
	display: inline-block;
	zoom:1;
	vertical-align: top;
	*display: inline;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.tabs-h{
	overflow: auto;
	margin: 0;
	padding: 0;
}
.tabs-h li{
	display:inline;
	float:left;
	margin-right: 5px;
}
.tabs-h li a{
	height: 30px;
	font-weight: bold;
	line-height: 30px;
	border-radius: 6px 6px 0 0;
	display: block;
	text-decoration: none;
	padding: 0 15px;
}
.tabs-h li a:focus{outline: none}
/*=============================formstyle*/
.selectbox {
	cursor: pointer;
	background-color: #fff;
	height: 22px;
	line-height: 22px;
}
.selectbox .select{
	width: 220px;
	padding: 0 22px 0 8px;
}
.selectbox .select:active {background: #F5F5F5}
.selectbox.focused .select {border: 1px solid #5794BF}
.selectbox.disabled .select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
}
.selectbox .trigger .arrow {
	position: absolute;
	top: 7px;
	left:7px;
	width: 0;
	height: 0;
	border-top: 9px solid #5a5959;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.selectbox .dropdown{
	background-color: #fff;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: inherit;
	left: -1px;
	right: -1px;
	top:22px;
}
.selectbox ul{
	padding: 0;
}
.selectbox li {
	padding: 0 22px 0 8px;
}
.selectbox li.selected {
	background: #cccccc;
	color: #fff;
}
.selectbox li:hover {
	background: #249CC8;
	color: #fff;
}
.selectbox li.disabled:hover {background: none}
.radio {
	width: 20px;
	height: 20px;
	vertical-align: top;
}
/*/=============================formstyle*/
nav a{text-decoration: none}
nav a:hover{text-decoration: underline}
.main-wrp .onek-wrp{
	padding: 13px 0 200px;
}
.l-col{
	float: left;
	display: inline;
	padding-left: 20px;
	width: 210px;
}
.r-col{
	margin-left: 270px;
}
.std-title{
	color: #5A5959;
	font-size: 16px;
	margin: 0 0 20px 0;
	font-weight: bold;
}
.std-block {
	background-color: #e6e6e6;
	border-radius: 4px;
}
button.std-btn{
	border-radius: 5px;
	background-color: #98c51d;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	border: none;
	padding: 0 17px;
}
.std-input{
	box-shadow: 1px 1px 0 0 #CBCBCB inset;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	height: 22px;
	line-height: 22px;
	padding: 0 1%;
}
textarea.std-input{height: auto}
.std-row{
	display: block;
	position: relative;
	margin-top: 15px;
	white-space: nowrap;
}
.std-row .std-btn{
	position: absolute;
	right: 0;
	bottom: -25px;
}

.rating-total,
[data-tooltip]:after{
	font-weight: bold;
	color: #fff;
	height: 22px;
	line-height: 22px;
	width: 34px;
	border-radius: 7px;
	text-align: center;
}
.rating-total {
	position: relative;
	background-color: #249cc8;
}
[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	background-color: inherit;
	visibility: hidden;
	bottom: 16px;
	left: 50%;
	margin-left: -17px;
}
.rating-total:after,
[data-tooltip]:before{
	content: '';
	position: absolute;
	border-width: 5px 3px 0 3px;
	border-style: solid;
	border-color: transparent;
}
.rating-total:after{
	bottom: -5px;
	left: 8px;
	border-top-color: #249cc8;
}
[data-tooltip]:before {
	border-top-color: inherit;
	bottom: 11px;
	left: 50%;
	margin-left: -3px;
	visibility: hidden;
}
.rating-bar{
	width: 100px;
	height: 9px;
	white-space: nowrap;
	border-radius: 3px;
	background-color: #C8C8C8;
	border-color: #C8C8C8;
}
.rating-bar, .rating-total,.tooltip-legend{
	margin-right: 15px;
	vertical-align: middle;
}
.rating-bar, .rating-total,
.rating-bar div, .tooltip-legend{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.rating-bar div{
	height: 9px;
	vertical-align: top;
}
.rating-bar .col-n {border-radius: 3px}
.rating-bar .col-b {border-radius: 3px 0 0 3px}
.rating-bar .col-g {border-radius: 0 3px 3px 0}
[data-tooltip]{
	position: relative;
	cursor: pointer;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-moz-transition: visibility 0s linear .2s;
	-o-transition: visibility 0s linear .2s;
	-webkit-transition: visibility 0s linear .2s;
	transition: visibility 0s linear .2s;
}
.align-c{text-align: center}
.list{margin-left: 10px}
.list td{
	vertical-align: middle;
	border-bottom: 1px solid #c8c8c8;
	padding: 20px 10px 20px 5px;
}
.list-item-merged{line-height: 14px}
.list .tabs-h{
	border-bottom: 1px solid #c8c8c8;
}
.list .tabs-h a{
	background-color: #e9e9e9;
	color: #5a5959;
	font-size: 14px;
}
.list .tabs-h .active a{
	background-color: #40a9cf;
	color: #fff;
}
.list-item-name a{
	line-height: 15px;
	text-decoration: none;
	font-size: 16px;
	display: block;
}
.list-item-name span{color: #9d9d9d}
/*===========================================================header+footer*/
.h-office {
	text-align: center;
	font-weight: bold;
	color: #249cc8;
	margin-bottom: 40px;
}
.l-search-img {float: right}
.l-search .std-input{
	margin-top: 7px;
	width: 155px;
}
.h-add_comment {
	background: url('../images/plus50x50.jpg') no-repeat 0 0;
	padding-left: 68px;
	height: 50px;
}
.h-comments_total {
	float: right;
	display: inline;
	color: #9d9d9d;
}
.h-menu{
	overflow: hidden;
	margin: 13px 0 30px;
	border-radius: 4px;
}
.h-menu td{
	padding: 0;
	text-align: center;
}
.h-menu a{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	display: block;
	height: 32px;
	line-height: 32px;
	background-color: #249cc8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97d0e5), color-stop(15px, #249cc8));
	background-image: -webkit-linear-gradient(top, #97d0e5, #249cc8 15px);
	background-image: -ms-linear-gradient(top, #97d0e5, #249cc8 15px);
	background-image: -o-linear-gradient(top, #97d0e5, #249cc8 15px);
	background-image: -moz-linear-gradient(top, #97d0e5, #249cc8 15px);
	background-image: linear-gradient(top, #97d0e5, #249cc8 15px);
}
.h-menu a.active{
	background-color: #98c51d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cee394), color-stop( 15px, #98c51d));
	background-image: -webkit-linear-gradient(top, #cee394, #98c51d 15px);
	background-image: -ms-linear-gradient(top, #cee394, #98c51d 15px);
	background-image: -o-linear-gradient(top, #cee394, #98c51d 15px);
	background-image: -moz-linear-gradient(top, #cee394, #98c51d 15px);
	background-image: linear-gradient(top, #cee394, #98c51d 15px);
}
.h-menu td:first-child a{border-radius: 4px 0 0 4px}
.h-menu td:last-child a{border-radius: 0 4px 4px 0}
.h-menu a.top-m-more{
	background-color: #9d9d9d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop( 15px, #9d9d9d));
	background-image: -webkit-linear-gradient(top, #d0d0d0, #9d9d9d 15px);
	background-image: -ms-linear-gradient(top, #d0d0d0, #9d9d9d 15px);
	background-image: -o-linear-gradient(top, #d0d0d0, #9d9d9d 15px);
	background-image: -moz-linear-gradient(top, #d0d0d0, #9d9d9d 15px);
	background-image: linear-gradient(top, #d0d0d0, #9d9d9d 15px);
}

.h-menu ul {
    width: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 430px;
    text-align: right;
    display: block;
}
.h-menu ul.block {
    display: none;
}

.header,
.h-search{margin-bottom: 40px}
.h-search .tabs-c{
	padding:10px 20px 17px;
}
.h-search .tabs-h li a{
	color: #ffffff;
	background-color:#abaaaa;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop( 15px, #abaaaa));
	background-image: -webkit-linear-gradient(top, #d8d8d8, #abaaaa 15px);
	background-image: -ms-linear-gradient(top, #d8d8d8, #abaaaa 15px);
	background-image: -o-linear-gradient(top, #d8d8d8, #abaaaa 15px);
	background-image: -moz-linear-gradient(top, #d8d8d8, #abaaaa 15px);
}
.h-search .tabs-h li.active a{
	background-color:#e6e6e6;
	color: #5a5959;
	background-image: linear-gradient(top, #fff, #e6e6e6 15px);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop( 15px, #e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6 15px);
	background-image: -ms-linear-gradient(top, #fff, #e6e6e6 15px);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6 15px);
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6 15px);
	background-image: linear-gradient(top, #fff, #e6e6e6 15px);
}
.h-search .tabs-c{
	border-radius: 0 4px 4px 4px;
}
.h-search .underdotted{
	color: #5a5959;
	border-color: #5a5959;
}
.h-search .std-input{width: 98%;}
.h-search .std-input,
.h-search .selectbox{
	box-shadow: none;
	border-style: solid;
	border-radius: 0 0 4px 0;
	border-color: #d2d2d2;
	border-width: 0 1px 1px 0;
}
.h-search-brief{padding: 10px 10px 8px}
.h-search-brief .selectbox{
	margin-right: 12px;
	border-color: #cbcbcb;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-radius: 3px;
}
.h-logo{
	display: block;
	position: relative;
}
.h-logo div{
	position: absolute;
	top: 76px;
	left: 80px;
	width: 71px;
	height: 60px;
	overflow: hidden;
}
.h-logo div img{
	max-height: none;
	max-width: none;
	position: absolute;
	top:0;
}
/*only for not main page*/
.r-col section{margin-left: 16px}
article{margin-bottom: 15px}
article.list{margin-left: 0}
footer{
	position: relative;
	margin-top: -170px;
}
footer .onek-wrp{
	border-top: 1px solid #c8c8c8;
	padding: 14px 0 29px;
}
footer nav a{text-decoration: underline}
.f-soc{height: 31px}
.f-soc a{
	float: left;
	width: 32px;
	height: 31px;
	margin-right: 10px;
	background: url("../images/social.jpg") no-repeat 0 0;
}
.f-soc .fb{
	background-position: -41px 0;
}
.f-soc .tw{
	background-position: -81px 0;
}
.f-info{
	font-weight: bold;
	color: #249cc8;
	font-size: 11px;
}
.f-right, .f-left{float: right; display: inline}
.f-right{margin-right: 290px}
.f-right a{font-weight: bold}
.f-left{margin-right: 100px}
.f-left a{color: #5a5959}
.f-left .adverts{color: #f17d0b}

/*======================================OTHERS*/
.crumbs-wrp{
	margin: 0 0 30px 10px;
	color: #249cc8;
}
.crumbs-wrp a:last-child{text-decoration: none}
.crumbs-wrp span{padding: 0 8px}

.popup-window{
	display: none;
	text-align: center;
	position: absolute;
	top:280px;
	left: 50%;
	margin-left: -280px;
	width: 560px;
	border-radius: 8px;
	box-shadow: 0 0 15px #7b7b7b;
	padding: 20px 50px 15px;
	background-color: #fff;
	overflow: hidden;
}
.popup-window .w-rightshadow{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d9d9), color-stop(100%, #f8f8f8));
	background-image: -webkit-linear-gradient(top, #d9d9d9, #f8f8f8);
	background-image: -ms-linear-gradient(top, #d9d9d9, #f8f8f8);
	background-image: -o-linear-gradient(top, #d9d9d9, #f8f8f8);
	background-image: -moz-linear-gradient(top, #d9d9d9, #f8f8f8);
	background-image: linear-gradient(top, #d9d9d9, #f8f8f8);
}
.popup-window table{
	position: relative;
}
.popup-window td{
	padding: 0 0 17px 0;
	width: 50%;
}
.popup-window td input{
	width: 180px;
}
.popup-window .w-pre-title td{
	color: #8a8a8a;
	padding-bottom: 36px;
}
.popup-window .w-title td{
	font-size: 24px;
	padding-bottom: 50px;
}
.popup-window .w-submit{
	padding-bottom: 50px;
}
.popup-window td div{
	position: relative;
	padding-right: 50px;
}
.popup-window .r-mark{
	right: 30px;
	top: 7px;
	left: auto;
}
.popup-window .w-close{
	position: absolute;
	top:5px;
	right: 5px;
}
