.ads-menu{
	clear: both;
	margin-bottom: 20px;
	border-radius: 6px;
	border: 1px solid #249cc8;
	font-weight: bold;
	color: #5a5959;
	font-size: 14px;
	height: 37px;
	line-height: 37px;
}
.ads-menu td{
	padding: 0;
	vertical-align: middle;
}
.ads-menu a{color: #5a5959}
.ads-menu td.ads-menu-add{
	padding-left: 32px;
	background: url('../images/plus22x22.jpg') no-repeat 0 50%;
}
.ads-menu-add a{
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
.ymap-main{
	margin-bottom: 40px;
	padding: 15px 15px 15px 0;
}
.ymap-main .l-col input{
	display: none;
	*display: inline;
	display: inline\9;
}
.ymap-main .l-col label{
	height: 16px;
	display: block;
	padding-left: 26px;
	background: url('../images/checkboxes.png') no-repeat 0 -22px;
	padding-left:10px\9;
	display: inline\9;
	background:none\9;
}
.ymap-main .l-col input[type="checkbox"]:checked + label{
	background-position: 0 -2px;
}
.legend{
	margin: 0;
	padding: 0;
	list-style: none;
}
.legend li{
	margin-top: 25px;
	padding-left: 28px;
	position: relative;
}
.legend .r-mark {top:6px}
.rating-legend {
	float: right;
	width: 215px;
}
.rating-legend .std-title{
	font-size: 18px;
	text-align: center;
}
.rating-legend .rating-bar {
	margin: 20px auto;
}
.last-comments {margin-right: 287px}
.last-comments .list-item-name {width: 140px}
.last-comments .list-item-rating{white-space: nowrap}
.companies p a,
.firm-info p a{color: #5A5959}
.companies-widgets a{text-decoration: none}
.companies-widgets b{
	color: #bcbcbc;
	padding: 0 25px 0 10px;
}
.companies-widgets .rating-bar{
	float: right;
	margin-top: 7px;
}
.firm-info td{border: none}
.firm-info .std-title{font-size: 14px}
.firm-schedule{line-height: 18px}
.firm-schedule .day{
	font-weight: bold;
	font-size: 11px;
	width: 67px;
	float: left;
	display: inline;
}
.firm-schedule .time{margin-left: 67px}
.firm-schedule .time div{
	position: relative;
	padding-left: 25px;
}
.firm-schedule .r-mark {top: 3px}
.firm-socials{height: 22px}
.firm-socials a{
	float: left;
	width: 22px;
	height: 21px;
	margin-right: 10px;
	background: url("../images/social-color.jpg") no-repeat 0 0;
}
.firm-socials .fb{background-position: -27px 0}
.firm-socials .tw{background-position: -54px 0}
.firm-ymap{
	padding-bottom: 20px;
	padding-right: 230px;
	position: relative;
	margin-bottom: 0;
}
.firm-ymap .underdotted{
	position: absolute;
	top: 0;
	right: 120px;
}
.firm-ymap .ymap{overflow: hidden}
.firm-ymap .ymap img{
	max-height: none;
	max-width: none;
	width: 100%;
}
.firm-specs p{
	margin: 0 0 8px 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 42%;
	padding-left: 15px;
	zoom: 1;
	*display: inline;
}
.firm-specs .r-mark {left: 0;top:3px}
.firm-send,
.firm-rating{
	padding: 7px 27px 22px;
}
.firm-rating{padding-top: 22px}
.firm-send label{
	color: #5A5959;
	font-weight: bold;
	display: inline-block;
	zoom:1;
	*display: inline;
}
.tooltip-legend{
	position: relative;
	cursor: pointer;
}
.tooltip{
	bottom: 0;
	left: 0;
	position: absolute;
	visibility: hidden;
	cursor: default;
}
.tooltip:after{
	content: "";
	border-width: 8px 4px 0;
	border-style: solid;
	border-color: #ffffff transparent transparent;
	bottom: 13px;
	left: 5px;
	position: absolute;
}
.tooltip .legend{
	font-size: 10px;
	border-radius: 4px;
	background-color: #ffffff;
	margin-bottom: 20px;
	border: 1px solid #E3E3E3;
}
.tooltip li{
	margin: 10px;
	padding-left: 19px;
}
.tooltip-legend:hover .tooltip{
	visibility: visible;
	-moz-transition: visibility 0s linear .2s;
	-o-transition: visibility 0s linear .2s;
	-webkit-transition: visibility 0s linear .2s;
	transition: visibility 0s linear .2s;
}
.firm-send .td-label{
	width: 70px;
	font-size: 14px;
}
.radio-wrp{padding: 0 0 30px 70px}
.radio-wrp label{
	background-color: transparent;
	margin-right: 25px;
}
.radio-wrp .radio{
	width: 10px;
	height: 10px;
	border-radius: 24px;
	background-color: #ffffff;
	color: #000000;
	border-width: 7px;
	border-style: solid;
	border-color: inherit;
	margin-right: 10px;
}
.radio-wrp .checked span{
	display: block;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	border-color: inherit;
	height: 0;
	width: 0;
	margin: 2px 0 0 2px;
}
.firm-send .std-input{
	padding: 0 6px;
	width: 533px;
}
.firm-rating b{color: #BCBCBC;padding-right: 27px}
.comment{margin-bottom: 25px}
.comment-text{
	background-color: transparent;
	padding: 10px 0 10px 30px;
	position: relative;
	margin-bottom: 17px;
}
.comment-bar{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 9px;
	border-radius: 3px;
}
.comment-value{
	padding-bottom: 30px;
	text-align: right;
	border-bottom: 1px solid #c8c8c8;
}
.comment-value a{
	text-decoration: none;
	background-color: transparent;
	padding-left: 15px;
}
.comment .comment{margin-left: 25px}
.off-list .comment .comment-bar,
.comment .comment .comment-bar{background-color: #249CC8}
.paging{
	text-align: right;
	color: #249cc8;
	font-weight: bold;
	margin: 22px 0;
}
.paging a{padding-left: 10px}
.paging .active{color: #5a5959;text-decoration: none}
.ads-brief{
	position: relative;
	padding: 15px 20px 90px;
	border: 1px solid #249cc8;
	border-radius: 5px;
	margin-bottom: 40px;
}
.ads-brief-add{
	position: absolute;
	bottom: 15px;
	right: 0;
	left:0;
}
.ads-brief li{text-align: left}
.ads-brief a{
	line-height: 25px;
	text-decoration: underline;
	color: #5a5959;
}
.ads-brief a.active{text-decoration: none;color: #249CC8}
.ads-brief-add a{padding-left: 10px}
.ymap-canvas{
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-bottom: 50px;
}
.off-ladder{
	margin:0 0 20px 10px;
	position: relative;
}
.off-private{width: 300px}
.off-private .std-input{width: 97%}
.off-private .std-btn{margin: 20px 0}
.off-add{
	float: right;
	display: inline;
	width: 260px;
	padding-right: 24px;
}
.off-private .std-title,
.off-add .std-title{
	font-size: 14px;
}
.off-add .off-ladder .off-ladder{padding-right: 80px}
.off-add .add-icon{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 37px;
	width: 37px;
	background: url('../images/plus37x37.jpg') no-repeat center center;
}
.off-list .list-item-name {margin-bottom: 15px}
.off-list td.ctrls{
	text-align: right;
	padding: 0;
}
.off-list td.ctrls a{
	padding: 10px 0 10px 25px;
	font-weight: bold;
	background: url("../images/crude.jpg") no-repeat 0 8px;
}
.off-list td.ctrls a.delete{
	background: url("../images/crude.jpg") no-repeat 0 -24px;
}
.off-list .comment{margin-top: 25px}

.round-btn{
	border-radius: 19px;
	color: #FFFFFF;
	font-size: 23px;
	font-weight: bold;
	height: 38px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	width: 38px;
}
.off-add  .round-btn{
	bottom: 0;
	position: absolute;
	right: 0;
}

/*Заглушка для ссылки*/

div.r-col span#kostil a{
    color: #5a5959;
    text-decoration: none;
    cursor: text;
}
div.r-col span#kostil2 a{
    color: #5a5959;
    text-decoration: none;
    cursor: text;
}